/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color:#ededed;
  text-align: center;
}

img {
  max-height: 450px;
}

.navbar{
  background-color:#3d9cc3;
  border:0px;
  text-align: center;
}

.navbar-header {
  padding: 20px;
  text-align: center;
}

.navbar-inverse .navbar-brand {
  font-size:2em;
  text-transform: uppercase;
  font-family: 'Squada One', cursive;
  color:white;
  float:none;
  text-align: center;
}

.navbar-inverse .navbar-brand:hover {
  color:#48F1FF;
  text-align: center;
}

.container-narrow {
  margin: 30px 0;
  text-align: center;
}

.container {
  font-family: 'Inconsolata' !important;

  font-size: 1.2em;
  color: #333
  text-align: center;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
    text-align: center;
  }
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}