/* Space out content a bit */
body {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color:#fff;

}

img {
  max-height: 450px;
}

.navbar{
  background-color:#fff;
  border:0px;

}

.navbar-header {
  padding: 20px;

}

.navbar-inverse .navbar-brand {
  font-size:2em;
  text-transform: uppercase;
  font-family: 'Inconsolata', sans serif;
  color:white;
  float:none;
  margin-left: auto;
  margin-right: auto;
}

.navbar-inverse .navbar-brand:hover {
  color:#48F1FF;

}

.container-narrow {
  margin: 30px 0;

}

.container {
  font-family: 'Inconsolata' sans serif;
  font-size: 1.3em;
  color: #000

}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;

  }
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}